#
*debug*
!/scripts/skaffold-debug

# system
.DS_Store
*.bak
*.swp
*.tmp
*~
desktop.ini
thumbs.db

# go dependencies
/vendor

# go builds
/bin/*
!/bin/.gitkeep

# go tests output
*.out
*.test
testdata

# go debug output
__debug_bin

# skaffold output
/skaffold-build-artifacts.json
/skaffold-manifests-render.yaml
